* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import "tailwindcss";
@import 'flowbite';
@import "tailwindcss/preflight";
@tailwind utilities;
@import "flyonui/variants.css";
@plugin "flyonui";
